@import "tailwindcss";

@theme {
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;

  /* Colors */
  --color-teal-500: hsl(179, 62%, 43%);
  --color-green-400: hsl(71, 73%, 54%);
  --color-teal-100: hsl(204, 43%, 93%);
  --color-gray-500: hsl(218, 22%, 67%);

  /* Typography */
  --font-body: "Karla", sans-serif;
  --text-base: 16px;

  /* Font weights */
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}
